{% extends 'voterapp/base.html' %}

{% load staticfiles %}
{% load humanize %}

{% block head %}

    <script type="text/javascript">
    var candidates = {
        {% for candidate,id in candidates.items %}
            "{{ candidate|safe }}":{{ id }},
        {% endfor %}
    };
    var maxCandidates = {{ maxCandidates }};
    </script>

    <script type="text/javascript" src="{% static "voterapp/vote.js" %}"></script>

{% endblock %}

{% block voteactive %}
active
{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" data-toggle="collapse" href="#instructions"
                    aria-expanded="false" aria-controls="instructions">
                Click for Instructions
            </button>
            <br><br>
            <div class="collapse" id="instructions">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Casting your Vote</h4>
                        <p>You may choose up to 20 different candidates, or as few as one. If you choose more than
                        one, order them by your preference. You do not need to rank every candidate on the ballot;
                        you can omit any candidates that you don't like.</p>
                        <p>When you submit your vote, you will be asked who you plan to vote for in the real
                        election. This has no effect on this ballot; it will only be used to compare the
                        outcome of this ranked ballot to a traditional ballot.</p>

                        <h4>Write-in Votes</h4>
                        <p>You do not have to choose a candidate from the official ballot- you may write
                        in any name you like.</p>
                        <p>However, there's something you should know: Because computers are picky, it's important
                        that you type the candidate's name exactly the same as other voters have. Therefore, each
                        text box has a drop-down that will suggest candidate names that other voters
                        have typed in. If possible, please select a name from this list.</p>
                        <p>If you want to vote for someone not on the list, that's fine too. Just please spell
                        their name correctly so that future voters can find them.</p>
                    </div>
                </div>

                <button class="btn btn-primary" data-toggle="collapse" href="#instructions"
                    aria-controls="instructions">
                Close Instructions
                </button>
                <br><br>
            </div>
            <form>
                {% for i in range %}
                    <div class="form-group form-inline candidate-div {% if i > 1 %}hidden{% endif %}" id="candidateDiv{{ i }}">
                        <label for="candidateBox{{ i }}">{{ i|ordinal }} Choice Name</label><br>
                        <input type="text" class="form-control candidate-input" id="candidateBox{{ i }}" placeholder="Name"
                            data-index="{{ i }}">
                        <button type="button" class="btn btn-default remove-candidate-button hidden" data-index="{{ i }}">
                            <span class="glyphicon glyphicon-trash" aria-label="Delete candidate"></span>
                        </button>
                        {% if forloop.counter == maxCandidates %}
                            <br>
                            <small>I think {{ maxCandidates }} choices is enough.</small>
                        {% endif %}
                    </div>
                {% endfor %}
            </form>
            <button class="btn btn-primary" id="addCandidateButton">Add Choice</button>
            <button class="btn btn-primary disabled" disabled id="submitBallotButton"
                data-toggle="modal" data-target="#submitVoteModal">Submit Vote</button>
        </div>
        <div class="col-md-6">
            <h4>Ballot</h4>
            <ul class="list-group">
                {% for candidate in ballot %}
                <li class="list-group-item">{{ candidate }}</li>
                {% endfor %}
            </ul>
            <a class="hidden" href="/faq#ballotChoices">Why these people?</a>
            <hr>


        </div>
    </div>


    <div class="modal fade" id="submitVoteModal" tabindex="-1" role="dialog" aria-labelledby="submitVoteLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="submitVoteLabel">Submit Vote</h4>
                </div>
                <div class="modal-body">
                    <ol class="list-group" id="candidateList">

                    </ol>
                    <br>
                    <form id="submitVoteForm" action="/submitvote/" method="post">
                        {% csrf_token %}
                        <div class="form-group form-inline">
                            <label for="emailBox">Email: </label>
                            <input class="form-control" type="email" id="emailBox" name="email" placeholder="email">
                            <span class="help-inline hidden" id="emailBoxError">This is not a valid Email address</span>
                        </div>
                        <br>
                        <div class="form-group form-inline">
                            <label for="normalVoteBox">Your vote in the normal election: </label>
                            <input type="text" class="form-control candidate-input" id="normalVoteBox" placeholder="Name"><br>
                            <small>To compare the results of this ranked vote to the results of a traditional
                                    vote, please let us know who you plan to vote for in the real election. <br>
                                    <strong>This will have no effect on your candidate rankings.</strong></small>
                        </div>
                        <input type="hidden" name="candidates" id="candidatesHiddenInput">
                        <input type="hidden" name="normalvote" id="normalVoteHiddenInput">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" id="confirmVoteButton">Submit Vote</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
